@import url(style.css) all; /*estilos para el titulo*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

/*estilos para el menu*/
.container .blockMenu {
    width: 80%;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.container .blockMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container .blockMenu li {
    list-style: none;
    background-color: #206efd;
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.container .blockMenu li:nth-child(even) {
    background-color: #1551be;
}

.container .blockMenu li:hover {
    background-color: #1551be;
}
.container .blockMenu li:nth-child(even):hover {
    background-color: #206efd;
}

.container .blockMenu a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-width:400px) {
    .container .blockMenu {
        width: 300px;
    }
}